.underline {
  text-decoration: underline;
}

.wp-block-media-text__media img {
  max-width: 100%;
}

.product .wp-block-image img {
  width: auto;
  max-width: 100%;
}

.wp-block-image,
.wp-block-image img {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: none;
}

.limit-max-width {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.hf-color {
  background-color: $hf-color;
}

.text-price {
  font-size: 30px;
  color: $hf-color;
}

.navbar-light .navbar-nav .nav-link {
  color: white!important;
}
